@import "Colors.scss";
.plt3 {
	--bg: #{$midnight-purple};
	--txt: #{$white};
	--bg2: #{$indigo};
	--txt2: #{$white};
	--bg3: #{$cerulean-blue};
	--txt3: #{$white};
	--active: #{$lime-green};
	--border: #{$dark-teal};
	--shadow: #{$black-bean};
	--txt-shadow: #{$electric-blue};
}