@import "Colors.scss";
.plt1 {
	--bg:#{$white};
	--txt: #{$indigo};
	--bg2:#{$indigo};
	--txt2: #{$white};
	--bg3: #{$beige};
	--txt3: #{$black-bean};
	--active: #{$indigo};
	--border: #{$silver};
	--shadow: #{$light-gray};
	--txt-shadow: #{$light-gray};
}