@import "Colors.scss";
.plt2 {
	--bg: #{$black-leather};
	--txt: #{$white};
	--bg2: #{$bloody};
	--txt2: #{$gold};
	--active: #{$yellow-green};
	--border: #{$white};
	--shadow: #{$slate-gray};
	--txt-shadow: #{$slate-gray};
}