
// Paddings
$PaddingXS: .25em;
$PaddingS: $PaddingXS*2; //.5em
$PaddingM: $PaddingXS*4; //1em
$PaddingL: $PaddingXS*6; //1.5em
$PaddingXL: $PaddingXS*8; //2em

// Element settings
$SizeXS: 320px;
$SizeS: $SizeXS*2; //640px
$SizeM: $SizeXS*3; //960px
$SizeL: $SizeXS*4; //1280px
$SizeXL: $SizeXS*5; //1600px

$BorderRadiusXS: .25em;
$BorderRadiusS: $BorderRadiusXS*2; //.5em
$BorderRadiusM: $BorderRadiusXS*4; //1em
$BorderRadiusL: $BorderRadiusXS*6; //1.5em
$BorderRadiusXL: $BorderRadiusXS*8; //2em

$GapXS: .25em;
$GapS: $GapXS*2; //.5em
$GapM: $GapXS*4; //1em
$GapL: $GapXS*6; //1.5em
$GapXL: $GapXS*8; //2em

// Scrollbar
$scrollbar-size: 6px;
$scrollbar-bg: var(--shadow);
$scrollbar-thumb: var(--active);

// Template
$template-top-padding: .5rem;
$template-right-padding: 6vw;
$template-bot-padding: .5rem;
$template-left-padding: 6vw;
$template-top-icons-width: 2.5em;
$template-top-icons-height: 2.5em;
$template-bg: var(--bg);
$template-txt: var(--txt);

// Header
$header-top-padding: $template-top-padding;
$header-right-padding: $template-right-padding;
$header-bot-padding: $template-bot-padding;
$header-left-padding: $template-left-padding;
$header-bg: var(--bg);
$header-txt: var(--txt);
$header-buttons-space: .25em;

// Nav
$nav-left-padding: $template-left-padding;
$nav-right-padding: $template-right-padding;
$nav-bg:var(--bg2);
$nav-txt:var(--txt2);
$nav-bg2:var(--bg);
$nav-txt2:var(--txt);
$nav-active:var(--active);
$nav-focus:var(--border);
$nav-spacing:.25em;

// Main
$main-bg: var(--bg);
$main-txt: var(--txt);

// BrandIcon
$brand-height: 3.5em;

// AccountIcon
$account-logo-width: $template-top-icons-width;
$account-logo-height: $template-top-icons-height;
$account-border: var(--border);
$account-text-shadow: var(--txt-shadow);

// BurgerIcon
$burger-width: $template-top-icons-width;
$burger-height: $template-top-icons-height;
$burger-color: var(--active);
$burger-space: calc($burger-width / 8);
$burger-translate-x: calc($burger-space * 1.41);
$burger-translate-y: calc($burger-space * 1.41);
