@import "../Elements/Header.scss";

#Template {
	display: grid;
	width: 100vw;
	grid-template-areas: 'header'
		'nav'
		'main'
		'footer';
	grid-template-rows: min-content auto auto auto;

	background-color: $template-bg;
	color: $template-txt;

	font-family: Source Sans Pro, Helvetica Neue, sans-serif;
	font-size: 16px;

	@media (min-width:$SizeM) {
		grid-template-areas: 'header nav'
			'main main'
			'footer footer';
		grid-template-rows: min-content auto auto;
		grid-template-columns: auto min-content;
	}
}