#Header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg);
  color: var(--txt);
}
#Header .buttons {
  display: inline-flex;
  align-items: center;
  gap: 0.25em;
}
#Header > * {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#Header > :first-child {
  padding-left: 6vw;
}
@media (max-width: 959px) {
  #Header > :last-child {
    padding-right: 6vw;
  }
}
@media (min-width: 960px) {
  #Header .burger {
    display: none;
  }
  #Header > :last-child {
    padding-right: 0;
  }
}

#Nav {
  grid-area: nav;
  display: flex;
  justify-content: flex-end;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1), overflow 0.5s cubic-bezier(0, 1, 0, 1);
}
#Nav.open {
  max-height: 50vh !important;
  transition: max-height 1s ease-in-out;
}
#Nav > menu {
  list-style-type: none;
  padding-right: 6vw;
}
#Nav li {
  display: flex;
}
#Nav a {
  text-align: center;
  width: 100%;
  padding: 0.5em 0.25em;
  border: solid 0.125em var(--txt2);
}
@media (max-width: 959px) {
  #Nav {
    background-color: var(--bg2);
    color: var(--txt2);
    max-height: 0px;
    overflow-y: scroll;
  }
  #Nav > menu {
    padding-left: 6vw;
  }
  #Nav a {
    margin: 0.25em;
    font-size: 1.25rem;
  }
}
@media (min-width: 960px) {
  #Nav {
    align-items: stretch;
    overflow: hidden;
    background-color: var(--bg);
    color: var(--txt);
    max-height: unset;
  }
  #Nav > menu {
    display: inline-flex;
    gap: 0.25em;
    padding-left: 0.25em !important;
    font-size: 1.125rem;
  }
  #Nav li {
    border-top: solid 0.25em var(--bg);
    border-bottom: solid 0.25em var(--bg);
    transition: 0.3s border ease-in-out;
  }
  #Nav .active {
    border-color: var(--active);
  }
  #Nav li:focus, #Nav li:hover {
    border-color: var(--border);
  }
  #Nav a {
    margin: auto;
    font-size: 1.125rem;
    transition: 0.3s background ease-in-out, 0.3s border-radius ease-in-out, 0.3s color ease-in-out;
  }
  #Nav a:focus, #Nav a:hover {
    background-color: var(--txt);
    color: var(--bg);
    border-radius: 50%;
  }
}

#Main {
  grid-area: main;
  overflow: auto;
  background-color: var(--bg3);
  color: var(--txt3);
}

#Footer {
  grid-area: footer;
  background-color: var(--bg);
  color: var(--txt);
}
#Footer > * {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#Footer > :first-child {
  padding-left: 6vw;
}
#Footer > :last-child {
  padding-right: 6vw;
}

#Template {
  display: grid;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  grid-template-areas: "header" "nav" "main" "footer";
  grid-template-rows: min-content min-content auto min-content;
  background-color: var(--bg);
  color: var(--txt);
  font-family: Source Sans Pro, Helvetica Neue, sans-serif;
  font-size: 16px;
}
@media (min-width: 960px) {
  #Template {
    grid-template-areas: "header nav" "main main" "footer footer";
    grid-template-rows: min-content auto min-content;
    grid-template-columns: auto min-content;
  }
}