html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

img {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

menu {
  list-style-type: none;
}

ul, menu, fieldset, p {
  margin: 0;
  padding: 0;
}

fieldset, input, textarea, button, iframe {
  border: none;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
fieldset > * {
  flex-grow: 1;
}

iframe {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  font-weight: 800;
}

h1, .h1 {
  font-size: 2.5em;
}

h2, .h2 {
  font-size: 2em;
}

h3, .h3 {
  font-size: 1.7em;
}

h4, .h4 {
  font-size: 1.4em;
}

h5, .h5 {
  font-size: 1.2em;
}

h6, .h6 {
  font-size: 1.1em;
}

p {
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 1px;
}