@import "../Settings.scss";

$footer-bg: var(--bg);
$footer-txt: var(--txt);
#Footer {
	grid-area: footer;

	background-color:$footer-bg;
	color:$footer-txt;

	>* {
		padding-top: $template-top-padding;
		padding-bottom: $template-bot-padding;
	}
	>:first-child {
		padding-left: $template-left-padding;
	}
	>:last-child {
		padding-right: $template-right-padding;
	}
}