#Nav {
  grid-area: nav;
  display: flex;
  justify-content: flex-end;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1), overflow 0.5s cubic-bezier(0, 1, 0, 1);
}
#Nav.open {
  max-height: 50vh !important;
  transition: max-height 1s ease-in-out;
}
#Nav > menu {
  display: inline-flex;
  gap: 0.25em;
  list-style-type: none;
  padding-right: 6vw;
}
#Nav li {
  display: flex;
}
#Nav a {
  text-align: center;
  width: 100%;
  padding: 0.5em 0.25em;
}
@media (max-width: 959px) {
  #Nav {
    background-color: var(--bg2);
    color: var(--txt2);
    max-height: 0px;
    overflow-y: scroll;
  }
  #Nav > menu {
    flex-wrap: wrap;
    padding-left: 6vw;
  }
  #Nav a {
    margin: 0.25em;
    font-size: 1.25rem;
    border: solid 0.125em var(--txt2);
  }
}
@media (min-width: 960px) {
  #Nav {
    align-items: stretch;
    overflow: hidden;
    background-color: var(--bg);
    color: var(--txt);
    max-height: unset;
  }
  #Nav > menu {
    padding-left: 0.25em !important;
  }
  #Nav li {
    border-top: solid 0.25em var(--bg);
    border-bottom: solid 0.25em var(--bg);
    transition: 0.3s border ease-in-out;
  }
  #Nav .active {
    border-color: var(--active) !important;
  }
  #Nav li:focus, #Nav li:hover {
    border-color: var(--border);
  }
  #Nav a {
    margin: auto;
    font-size: 1.125rem;
    transition: 0.3s background ease-in-out, 0.3s border-radius ease-in-out, 0.3s color ease-in-out;
  }
  #Nav a:focus, #Nav a:hover {
    background-color: var(--active);
    color: var(--bg);
    border-radius: 50%;
  }
}