::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--shadow);
}

::-webkit-scrollbar-thumb {
  background: var(--active);
  cursor: pointer;
  border-radius: 6px;
}