@import "../Settings.scss";

#Context {
	>.col>* {
		padding-left: $TemplateLeftPadding;
		padding-right: $TemplateRightPadding;
	}
	@media (max-width:calc($SizeS - 1px)) {
		>.col-2, >.col-3, >.col-4, >.col-5 {
			>:not(.fitt) {
				padding-left: $TemplateLeftPadding;
				padding-right: $TemplateRightPadding;
			}
		}
	}
	@media (min-width:$SizeS) {
		>.col-2 {
			>:nth-child(2n+1) {
				padding-left: $TemplateLeftPadding;
			}

			>:nth-child(2n) {
				padding-right: $TemplateRightPadding;
			}
		}
	}
	@media (min-width:$SizeS) and (max-width:calc($SizeM - 1px)) {
		>.col-3, >.col-4, >.col-5 {
			>:nth-child(2n+1) {
				padding-left: $TemplateLeftPadding;
			}

			>:nth-child(2n) {
				padding-right: $TemplateRightPadding;
			}
		}
	}
	@media (min-width:$SizeM) {
		>.col-3 {
			>:nth-child(3n+1) {
				padding-left: $TemplateLeftPadding;
			}

			>:nth-child(3n) {
				padding-right: $TemplateRightPadding;
			}
		}
	}
	@media (min-width:$SizeM) and (max-width:calc($SizeL - 1px)) {
		>.col-4, >.col-5 {
			>:nth-child(3n+1) {
				padding-left: $TemplateLeftPadding;
			}

			>:nth-child(3n) {
				padding-right: $TemplateRightPadding;
			}
		}
	}
	@media (min-width:$SizeL) {
		>.col-4 {
			>:nth-child(4n+1) {
				padding-left: $TemplateLeftPadding;
			}

			>:nth-child(4n) {
				padding-right: $TemplateRightPadding;
			}
		}
	}
	@media (min-width:$SizeL) and (max-width:calc($SizeXL - 1px)) {
		>.col-5 {
			>:nth-child(4n+1) {
				padding-left: $TemplateLeftPadding;
			}

			>:nth-child(4n) {
				padding-right: $TemplateRightPadding;
			}
		}
	}
	@media (min-width:$SizeXL) {
		>.col-5 {
			>:nth-child(5n+1) {
				padding-left: $TemplateLeftPadding;
			}

			>:nth-child(5n) {
				padding-right: $TemplateRightPadding;
			}
		}
	}
}
.col, .col-2, .col-3, .col-4, .col-5 {
	display: grid;
}
.col {
	grid-template-columns: 1fr;
}
@media (min-width:$SizeS) {
	.col-2 {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (min-width:$SizeS) and (max-width:calc($SizeM - 1px)) {
	.col-3, .col-4, .col-5 {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (min-width:$SizeM) {
	.col-3 {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (min-width:$SizeM) and (max-width:calc($SizeL - 1px)) {
	.col-4, .col-5 {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (min-width:$SizeL) {
	.col-4 {
		grid-template-columns: repeat(4, 1fr);
	}
}
@media (min-width:$SizeL) and (max-width:calc($SizeXL - 1px)) {
	.col-5 {
		grid-template-columns: repeat(4, 1fr);
	}
}
@media (min-width:$SizeXL) {
	.col-5 {
		grid-template-columns: repeat(5, 1fr);
	}
}