.kolory {
  --a:#0077B6;
  --c:#4CAF50;
  --d:#D62828;
  --e:#F5F5F5;
  --f:#333333;
  --g:#CCCCCC;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

img {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  letter-spacing: 2px;
}

menu {
  list-style-type: none;
}

ul, menu, fieldset, p {
  margin: 0;
  padding: 0;
}

fieldset, input, textarea, button, iframe {
  border: none;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
fieldset > * {
  flex-grow: 1;
}

iframe {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  text-align: center;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

p {
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 1px;
  text-align: center;
}

body, .plt-1 {
  --primary:#F5F5DC;
  --secondary:#E0E0E0;
  --tetriary:#FFFFFF;
  --txt:#212121;
  --border:#D0D0D0;
  --positive:#00FF00;
  --neutral:#006bc8;
  --negative:#FF3333;
  --txt-secondary:#FFFFFF;
  --scrollbar-thumb:#09090a;
  --scrollbar-tack:#6495ED;
  --shadow:#434343;
}

.plt-2 {
  --primary:#008CBA;
  --secondary:#00526E;
  --tetriary:#19C6FF;
  --txt:#FFFFFF;
}

.plt-3 {
  --primary:#5F10F5;
  --secondary:#3D0FA5;
  --tetriary:#A56AF5;
  --txt:#FFFFFF;
}

.plt-4 {
  --primary:#0071C5;
  --secondary:#0B4ADB;
  --tetriary:#0BB8DB;
  --txt:#FFFFFF;
}

.plt-5 {
  --primary:#242320;
  --secondary:#1E1F20;
  --tetriary:#666970;
  --txt:#BECC00;
}

.plt-6 {
  --primary:#FB8500;
  --secondary:#B36200;
  --tetriary:#FF9B30;
  --txt:#FFFFFF;
}

.plt-7 {
  --primary:#FFCF4D;
  --secondary:#FFF340;
  --tetriary:#E8CB3A;
  --txt:#806826;
}

.window {
  display: grid;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  grid-template-areas: "header" "nav" "main" "footer";
  grid-template-rows: min-content min-content auto min-content;
  background-color: var(--primary);
  color: var(--txt);
  font-family: Source Sans Pro, Helvetica Neue, sans-serif;
  font-size: 16px;
}
.window > header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--tetriary);
}
.window > header > .brand {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-decoration: none;
}
.window > header > .brand > span {
  color: var(--neutral);
  font-size: 1.25em;
  font-weight: 600;
}
.window > header > .brand > img {
  width: 2em;
  height: 2em;
}
.window > nav {
  grid-area: nav;
  display: flex;
  justify-content: flex-end;
  background-color: var(--primary);
  max-height: 0px;
  overflow-y: scroll;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1), overflow 0.5s cubic-bezier(0, 1, 0, 1);
}
.window > nav.open {
  max-height: 50vh !important;
  transition: max-height 1s ease-in-out;
}
.window > main {
  grid-area: main;
  overflow: auto;
}
.window > footer {
  grid-area: footer;
  background-color: var(--secondary);
}
@media (min-width: 990px) {
  .window {
    grid-template-areas: "header nav" "main main" "footer footer";
    grid-template-rows: min-content auto min-content;
    grid-template-columns: min-content auto;
  }
  .window > header :last-child {
    padding-right: 0;
  }
  .window > header > .burger {
    display: none;
  }
  .window > nav {
    align-items: stretch;
    overflow: hidden;
    background-color: var(--tetriary);
  }
  .window > nav :first-child {
    padding-left: 0;
  }
  .window > nav > menu {
    display: flex;
    align-items: stretch;
  }
  .window > nav li.active {
    border-bottom: solid 0.25em var(--positive);
    border-radius: 7%;
  }
  .window > nav li {
    display: flex;
    align-items: center;
  }
  .window > nav a::first-letter {
    padding-left: 0.125em;
    color: var(--tetriary);
    background-color: var(--txt);
  }
  .window > nav, .window > nav.open {
    max-height: calc(var(--icon-height) + 0.5rem + 0.5rem);
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
form .required::after {
  content: "*";
  color: var(--negative);
}
form label {
  color: var(--txt);
  font-weight: 600;
  font-size: 1em;
}
form label, form input, form textarea {
  display: block;
  width: 100%;
  min-width: 0;
  font-size: 1em;
}
form [type=text], form [type=email], form [type=number], form [type=date], form [type=password], form textarea {
  padding: 1em;
  border-radius: 1em;
  background: var(--txt);
  color: var(--primary);
}
form > button[type=submit] {
  align-self: flex-end;
  padding: 1em;
  border-radius: 0.5em;
  background: var(--txt);
  color: var(--neutral-contrast);
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
}

.brr-xs {
  border-radius: 0.25em;
}

.brr-s {
  border-radius: 0.5em;
}

.brr {
  border-radius: 1em;
}

.brr-l {
  border-radius: 1.5em;
}

.brr-xl {
  border-radius: 2em;
}

.window > header > *, .window > nav > *, .window > footer > * {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.window > header > :first-child, .window > nav > :first-child, .window > footer > :first-child {
  padding-left: 6vw;
}
.window > header > :last-child, .window > nav > :last-child, .window > footer > :last-child {
  padding-right: 6vw;
}

#Context > article {
  padding-left: 6vw;
  padding-right: 6vw;
}
#Context > .col > :not(.fit) {
  padding-left: 6vw;
  padding-right: 6vw;
}

@media (max-width: 639px) {
  #Context > .col-2, #Context > .col-3, #Context > .col-4, #Context > .col-5 {
    padding-left: 6vw;
    padding-right: 6vw;
  }
}
@media (min-width: 640px) {
  #Context > .col-2 > :nth-child(2n+1) {
    padding-left: 6vw;
  }
  #Context > .col-2 > :nth-child(2n) {
    padding-right: 6vw;
  }
}
@media (min-width: 640px) and (max-width: 959px) {
  #Context > .col-3 > :nth-child(2n+1), #Context > .col-4 > :nth-child(2n+1), #Context > .col-5 > :nth-child(2n+1) {
    padding-left: 6vw;
  }
  #Context > .col-3 > :nth-child(2n), #Context > .col-4 > :nth-child(2n), #Context > .col-5 > :nth-child(2n) {
    padding-right: 6vw;
  }
}
@media (min-width: 960px) {
  #Context > .col-3 > :nth-child(3n+1) {
    padding-left: 6vw;
  }
  #Context > .col-3 > :nth-child(3n) {
    padding-right: 6vw;
  }
}
@media (min-width: 960px) and (max-width: 1279px) {
  #Context > .col-4 > :nth-child(3n+1), #Context > .col-5 > :nth-child(3n+1) {
    padding-left: 6vw;
  }
  #Context > .col-4 > :nth-child(3n), #Context > .col-5 > :nth-child(3n) {
    padding-right: 6vw;
  }
}
@media (min-width: 1280px) {
  #Context > .col-4 > :nth-child(4n+1) {
    padding-left: 6vw;
  }
  #Context > .col-4 > :nth-child(4n) {
    padding-right: 6vw;
  }
}
@media (min-width: 1280px) and (max-width: 1599px) {
  #Context > .col-5 > :nth-child(4n+1) {
    padding-left: 6vw;
  }
  #Context > .col-5 > :nth-child(4n) {
    padding-right: 6vw;
  }
}
@media (min-width: 1600px) {
  #Context > .col-5 > :nth-child(5n+1) {
    padding-left: 6vw;
  }
  #Context > .col-5 > :nth-child(5n) {
    padding-right: 6vw;
  }
}
.pd-xs .pd-xs-childs > * {
  padding-top: 0.25em;
  padding-right: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.25em;
}

.pd-s, .pd-s-childs > * {
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
}

.pd, .pd-childs > * {
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
}

.pd-l, .pd-l-childs > * {
  padding-top: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 1.5em;
}

.pd-xl, .pd-xl-childs > * {
  padding-top: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
}

.bbpd, .bbpd-childs > * {
  box-sizing: border-box;
}

.col, .col-2, .col-3, .col-4, .col-5 {
  display: grid;
}

.col {
  grid-template-columns: 1fr;
}

@media (min-width: 640px) {
  .col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 640px) and (max-width: 959px) {
  .col-3, .col-4, .col-5 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 960px) {
  .col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 960px) and (max-width: 1279px) {
  .col-4, .col-5 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1280px) {
  .col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1280px) and (max-width: 1599px) {
  .col-5 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1600px) {
  .col-5 {
    grid-template-columns: repeat(5, 1fr);
  }
}
.gap-xs {
  gap: 0.25em;
}

.gap-s {
  gap: 0.5em;
}

.gap {
  gap: 1em;
}

.gap-l {
  gap: 1.5em;
}

.gap-xl {
  gap: 2em;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  cursor: pointer;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.75;
}

.burger {
  display: inline-block;
  width: 2em;
  height: 2em;
}
.burger > input {
  display: none;
}
.burger > label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25em;
  cursor: pointer;
}
.burger > label > div {
  width: 100%;
  height: 0.25em;
  background-color: var(--neutral);
  border-radius: 0.25em;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.burger > input:checked ~ label div:nth-child(1) {
  transform: rotate(45deg) translate(0.345em, 0.345em);
}
.burger > input:checked ~ label div:nth-child(2) {
  opacity: 0;
}
.burger > input:checked ~ label div:nth-child(3) {
  transform: rotate(-45deg) translate(0.345em, -0.345em);
}
.burger span {
  font-size: 0.75em;
  font-weight: 400;
  color: var(--neutral);
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.zj-svg {
  width: 2em;
  height: 2em;
  fill: none;
  stroke-width: 4px;
  stroke: var(--neutral);
}

.txt {
  color: var(--txt);
}

.bg-1 {
  background-color: var(--primary);
}

.bg-2 {
  background-color: var(--secondary);
}

.bg-3 {
  background-color: var(--tetriary);
}

.fit {
  padding: 0 !important;
  box-sizing: border-box;
}