body {
	margin: 0;
}
.template, .palette1 {
	--bg: #F5F5DC;
	--bg-bright: #FFFFFF;
	--bg-dark: #cccccc;
	--txt: #499ce8;
	--txt-bright: #555555;
	--txt-dark: #222222;
	--positive: #00FF00;
	--negative: #D8BFD8;
	--neutral: #D8BFD8;
	--scrollbar-thumb: #E6E6FA;
	--scrollbar-tack: #6495ED;
}
.palette2 {
	--bg: #F5F5DC;
	--bg-bright: #FFFFFF;
	--bg-dark: #a0a0a0;
	--txt: #333333;
	--txt-bright: #555555;
	--txt-dark: #222222;
	--positive: #00FF00;
	--negative: #D8BFD8;
	--neutral: #D8BFD8;
}
.palette2222 {
	--neutral: #696969;
	--bright: #F5DEB3;
	--dark: #006400;
	--relax: #E6E6FA;
	--positive: #800080;
	--calm: #D8BFD8;
}

img {
	display: inline-block;
}
menu {
	margin:0;
	padding:0;
}
.burger {
	display: inline-block;
	width: 2em;
	height: 2em;
	>input {
		display: none;
	}
	>label {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: .25em;
		cursor: pointer;
	}
	>label>div {
		width: 100%;
		height: .25em;
		background-color: var(--txt);
		border-radius: .25em;
		transition: transform .3s ease-in-out, opacity .3s ease-in-out;

	}
	>input:checked~label div {
		&:nth-child(1) {
			transform: rotate(45deg) translate(.345em, .345em);
		}
		&:nth-child(2) {
			opacity: 0;
		}
		&:nth-child(3) {
			transform: rotate(-45deg) translate(.345em, -.345em);
		}
	}
	span {
		font-size: .75em;
		font-weight: 400;
		color: var(--txt);
		text-transform: uppercase;
		user-select: none;
	}
}
.template {
	--padding-top:.5rem;
	--padding-bot:.5rem;
	--padding-left:.75rem;
	--padding-right:.75rem;
	--icon-width:2rem;
	--icon-height:2rem;

	display:grid;
	width:100vw;
	min-height:100vh;
	overflow-x:hidden;
	grid-template-areas:'header'
						'nav'
						'main'
						'footer';
	grid-template-rows:min-content min-content auto min-content;

	background-color:var(--bg);
	color:var(--txt);

	font-family:Source Sans Pro, Helvetica Neue, sans-serif;
	font-size:16px;

	>header {
		grid-area:header;

		display:flex;
		justify-content:space-between;
		align-items:center;

		background-color:var(--bg-bright);
		
		>.brand {
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			color: var(--txt);
			font-size: 1.25em;
			font-weight: 600;
			text-decoration: none;
		}
		>.brand>img {
			width: var(--icon-width);
			height: var(--icon-height);
		}
	}

	>nav {
		grid-area:nav;

		background-color:var(--bg-dark);

		max-height: 0px;
		overflow-y: scroll;
		transition: all .5s cubic-bezier(0, 1, 0, 1), overflow .5s cubic-bezier(0, 1, 0, 1);

		&.open {
			max-height: 50vh !important;
			transition: max-height 1s ease-in-out;
		}
	}

	>main {
		grid-area:main;

		background-color:var(--bg);
	}

	>footer {
		grid-area:footer;

		background-color:var(--bg-dark);
	}


	>header>*, >nav>menu>li, >main>*, >footer>* {
		padding:var(--padding-top) var(--padding-right) var(--padding-bot) var(--padding-left);
	}

	@media (min-width: 990px) {
		grid-template-areas:'header nav'
							'main main'
							'footer footer';
		grid-template-rows:min-content auto min-content;
		grid-template-columns: min-content auto;

		>header>.burger {
			display: none;
		}

		>nav {
			display:flex;
			align-items:stretch;

			background-color:var(--bg-bright);

			overflow:hidden;
			>menu {
				display:flex;
				justify-content:end;
				align-items:stretch;
			}
		}

		>nav, >nav.open {
			max-height:calc(var(--icon-height) + var(--padding-top) + var(--padding-bot));
		}
	}
}

.contact {
	display: inline-block;
	[href^="tel:"]::before, [href^="mailto:"]::before {
		display: inline-block;
		text-decoration: none;
		color: var(--txt);
	}
	[href^="tel:"]::before {
		content: " ";
	}
	[href^="mailto:"]::before {
		content: " ";
	}
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	cursor: pointer;
}
::-webkit-scrollbar-track {
	background: var(--scrollbar-track);
	border-radius: 8px;
}
::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb);
	border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
	opacity: .75;
}