body {
	margin: 0;
}
.template, .palette1 {
	--neutral: #F5F5DC;
	--bright: #FFFFFF;
	--dark: #808080;
	--relax: #87CEFA;
	--positive: #FFFFE0;
	--calm: #87CEEB;
}
body > .template {
	display: grid;
	grid-template-rows: min-content min-content auto min-content;
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	font-weight: 600;
	font-family: Source Sans Pro, Helvetica Neue, sans-serif;

	background-color: var(--neutral);
	color: var(--dark);
	font-size: 15px;

	> header {
		background-color: var(--bright);
	}
	> nav {
		background-color: var(--positive);
	}
	> main {
		overflow: auto;
	}
	> footer {
		background-color: var(--bright);
	}
	> * > * {
		padding: 0 1.5rem;
		box-sizing: border-box;
	}
}

img {
	display: inline-block;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	cursor: pointer;
}
::-webkit-scrollbar-track {
	background: var(--relax);
	border-radius: 8px;
}
::-webkit-scrollbar-thumb {
	background: var(--calm);
	border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
	opacity: .75;
}
.contact {
	[href^="tel:"]::before, [href^="mailto:"]::before {
		display: inline-block;
		text-decoration: none;
	}
	[href^="tel:"]::before {
		content: " ";
	}
	[href^="mailto:"]::before {
		content: " ";
	}
}