body {
  margin: 0;
}

.template, .palette1 {
  --neutral: #F5F5DC;
  --bright: #FFFFFF;
  --dark: #808080;
  --relax: #87CEFA;
  --positive: #FFFFE0;
  --calm: #87CEEB;
}

body > .template {
  display: grid;
  grid-template-rows: min-content min-content auto min-content;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-weight: 600;
  font-family: Source Sans Pro, Helvetica Neue, sans-serif;
  background-color: var(--neutral);
  color: var(--dark);
  font-size: 15px;
}
body > .template > header {
  background-color: var(--bright);
}
body > .template > nav {
  background-color: var(--positive);
  overflow-y: scroll;
  max-height: 0px;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1), overflow 0.5s cubic-bezier(0, 1, 0, 1);
}
body > .template > nav[open] {
  max-height: 50vh !important;
  transition: max-height 1s ease-in-out;
}
body > .template > main {
  overflow: auto;
}
body > .template > footer {
  background-color: var(--bright);
}
body > .template > header > *, body > .template > nav > *, body > .template > main > *, body > .template > footer > * {
  padding: 0 1rem;
  box-sizing: border-box;
}

img {
  display: inline-block;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: var(--relax);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--calm);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.75;
}

.contact [href^="tel:"]::before, .contact [href^="mailto:"]::before {
  display: inline-block;
  text-decoration: none;
}
.contact [href^="tel:"]::before {
  content: " ";
}
.contact [href^="mailto:"]::before {
  content: " ";
}