body {
	margin: 0;
}
.template {
	--bg: #F5F5F5;
	--shade: #F5F5DC;
	--calm-shade: #ADD8E6;
	--soft-shade: #90EE90;
	--bright-shade: #FFFFE0;
	> * {
		padding: .75rem 1.5rem;
		box-sizing: border-box;
	}
	> main {
		overflow: auto;
	}
}
body > .template {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: grid;
	grid-template-rows: min-content min-content auto min-content;
	font-weight: 600;
	font-family: Source Sans Pro, Helvetica Neue, sans-serif;
	background-color: var(--bg);
	color: var(--txt);
}

.top_nav {
	overflow-y: scroll;
	background-color: var(--shade);
	> button {
		padding: .75rem 1rem;
		box-sizing: border-box;
		border: none;
		background-color: var(--calm-shade);
	}
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	cursor: pointer;
}
::-webkit-scrollbar-track {
	background: var(--shade);
	border-radius: 8px;
}
::-webkit-scrollbar-thumb {
	background: var(--calm-shade);
	border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
	opacity: .75;
}
