$nav-size-mobile: 960px;
$nav-left-padding: 6vw;
$nav-right-padding: 6vw;
$nav-bg: var(--bg2);
$nav-txt: var(--txt2);
$nav-bg2: var(--bg);
$nav-txt2: var(--txt);
$nav-active: var(--active);
$nav-focus: var(--border);
$nav-spacing: .25em;
#Nav {
	grid-area: nav;
	display: flex;
	justify-content: flex-end;
	transition: all .5s cubic-bezier(0, 1, 0, 1), overflow .5s cubic-bezier(0, 1, 0, 1);
	&.open {
		max-height: 50vh !important;
		transition: max-height 1s ease-in-out;
	}

	>menu {
		display: inline-flex;
		gap: $nav-spacing;
		list-style-type: none;
		padding-right: $nav-right-padding;
	}

	li {
		display: flex;
	}

	a {
		text-align: center;
		width: 100%;
		padding: .5em .25em;
	}

	@media (max-width:calc($nav-size-mobile - 1px)) {
		background-color: $nav-bg;
		color: $nav-txt;
		max-height: 0px;
		overflow-y: scroll;

		>menu {
			flex-wrap: wrap;
			padding-left: $nav-left-padding;
		}

		a {
			margin: .25em;
			font-size: 1.25rem;
			border: solid .125em $nav-txt;
		}
	}
	@media (min-width:$nav-size-mobile) {
		align-items: stretch;

		overflow: hidden;
		background-color: $nav-bg2;
		color: $nav-txt2;
		max-height: unset;

		>menu {
			padding-left: $nav-spacing !important;
		}

		li {
			border-top: solid .25em $nav-bg2;
			border-bottom: solid .25em $nav-bg2;
			transition: .3s border ease-in-out;
		}

		.active {
			border-color: $nav-active !important;
		}
		li:focus, li:hover {
			border-color: $nav-focus;
		}

		a {
			margin: auto;
			font-size: 1.125rem;
			transition: .3s background ease-in-out, .3s border-radius ease-in-out, .3s color ease-in-out;
		}

		a:focus, a:hover {
			background-color: $nav-active;
			color: $nav-bg2;
			border-radius: 50%;
		}
	}
}