#Template {
  display: grid;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  grid-template-areas: "header" "nav" "main" "footer";
  grid-template-rows: min-content min-content auto min-content;
  background-color: var(--bg);
  color: var(--txt);
  font-family: Source Sans Pro, Helvetica Neue, sans-serif;
  font-size: 16px;
}
@media (min-width: 960px) {
  #Template {
    grid-template-areas: "header nav" "main main" "footer footer";
    grid-template-rows: min-content auto min-content;
    grid-template-columns: auto min-content;
  }
}