#Footer {
  grid-area: footer;
  background-color: var(--bg);
  color: var(--txt);
}
#Footer > * {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#Footer > :first-child {
  padding-left: 6vw;
}
#Footer > :last-child {
  padding-right: 6vw;
}