.Palette3 {
  --bg: #110038;
  --txt: #FFFFFF;
  --bg2: #3D0FA5;
  --txt2: #FFFFFF;
  --bg3: #0B4ADB;
  --txt3: #FFFFFF;
  --active: #00FF00;
  --border: #00526E;
  --shadow: #09090A;
  --txt-shadow: #19C6FF;
}