$burger-size: 2.5em;
$burger-color: var(--active);
$burger-shadow: var(--txt-shadow);
$burger-space: calc($burger-size / 8);
$burger-translate: calc($burger-space * 1.41);
.burger {
	display: inline-block;
	width: $burger-size;
	height: $burger-size;

	input {
		display: none;
	}

	label {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: $burger-space;
		cursor: pointer;
	}

	label div {
		width: 100%;
		height: $burger-space;
		background-color: $burger-color;
		border-radius: .25em;
		transition: transform .3s ease-in-out, opacity .3s ease-in-out;

	}

	input:checked~label div {
		&:nth-child(1) {
			transform: rotate(45deg) translate($burger-translate, $burger-translate);
		}

		&:nth-child(2) {
			opacity: 0;
		}

		&:nth-child(3) {
			transform: rotate(-45deg) translate($burger-translate, -$burger-translate);
		}
	}

	span {
		font-size: .75em;
		color: $burger-color;
		text-shadow: 0px -1px 2px $burger-shadow;
		user-select: none;
	}
}