$white: #FFFFFF;
$beige: #F5F5DC; //kremowy/delikatny/uspokajający
$gallery: #EAEAEA; //jasnoszary/neutralny/spokojny
$silver: #E0E0E0; //srebrny/neutralny/bezpieczny
$light-grey: #D0D0D0; //jasnoszary/bezbarwny/minimalistyczny
$misty-grey: #ABB7B7; //szary/delikatny/łagodny
$slate-grey: #666970; //Granatowy/mroczny/tajemniczy
$eerie-black: #242320; //czarny/ciemny/twardy
$jet-black: #212121; //czarny/ponury/pesymistyczny
$black-leather: #1E1F20; //czarny/głeboki/tajemniczy
$black-bean: #09090A; //czarny/matowy/minimalistyczny
$bloody: #9e0b0f; //krwisty/tajemniczy/życiowy
$orange-red: #FF3333; //czerwony/intensywny/agresywny
$rust: #B36200; //kasztanowy/ciepły/ziemienny
$orange-peel: #FB8500; //pomarańczowy/wesoły/energiczny
$orange: #FF9B30; //pomarańczowy/świeży/żywiołowy
$gold: #E8CB3A; //złoty/błyszczący/ekskluzywny
$sunglow: #FFCF4D; //żółty/jasny/optymistyczny
$wheat-beige: #DDD4B3; //Beżowy/naturalny/uspokajający
$lemon: #FFF340; //słoneczny/jasny/radosny
$lemon-yellow: #FFFC7F; //żółty/radosny/optymistyczny
$lime-green: #00FF00; //zielony/świeży/uzdrowiskowy
$spring-green: #00FF7F; //świeży/jasnozielony/ożywczy
$yellow-green: #9ACD32; //naturalny/żółtozielony/wiosenny/
$forest-green: #228B22; //tropikalny/zielony/relaksujący
$dark-green: #006400; //siła/ciemnozielony/ziemiański
$dark-olive-green: #806826; //szmaragdowy/intensywny/luksusowy
$olive: #556B2F; //Naturalny/szorstki/ziemiański
$hope: #0087fe; //Energia/Błękitny/Ożywczy
$electric-blue: #19C6FF; //żywy/błękitny/optymistyczny
$lilac: #A56AF5; //kreatywny/fioletowy/inspirujący
$cornflower-blue: #6495ED; //spokojny/fioletowy/relaksujący
$deep-sky-blue: #008CBA; //dynamiczny/morski/energetyczny
$blue-sapphire: #006BC8; //intensywny/błękitny/porywający
$cerulean-blue: #0B4ADB; //świeży/niebieski/ożywczy
$royal-blue: #0071C5; //nowoczesny/granatowy/męski
$electric-purple: #5F10F5; //intensywny/fuksjowy/elektryzujący
$indigo: #3D0FA5; //elegancki/granatowy/wspaniały
$magic: #4b0082; //magiczny/ezoteryczny/duchowy
$dark-teal: #00526E; //tajemniczy/morski/spokojny
$midnight-purple: #110038; //mroczny/ciemno-fioletowy/tajemniczy