.plt1 {
  --bg:#FFFFFF;
  --txt: #3D0FA5;
  --bg2:#3D0FA5;
  --txt2: #FFFFFF;
  --bg3: #F5F5DC;
  --txt3: #09090A;
  --active: #3D0FA5;
  --border: #E0E0E0;
  --shadow: #D0D0D0;
  --txt-shadow: #D0D0D0;
}

.plt2 {
  --bg: #1E1F20;
  --txt: #FFFFFF;
  --bg2: #9e0b0f;
  --txt2: #E8CB3A;
  --active: #9ACD32;
  --border: #FFFFFF;
  --shadow: #666970;
  --txt-shadow: #666970;
}