@import "Colors.scss";
.plt1 {
	--bg:#{$white};
	--txt:#{$indigo};
	--bg2:#{$silver};
	--txt2:#{$slate-grey};
	--bg3:#{$light-grey};
	--txt3:#{$black-bean};
	--active:#{$hope};
	--border:#{$silver};
	--shadow:#{$light-grey};
	--txt-shadow:#{$light-grey};
}